@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
* {
    /* Specify for all elements */
}


/* ADD THIS CLASS TO USE SERIF FONT */

.font-serif {
    font-family: 'Crimson Text', serif;
}


/* LAYOUT and VIEWS ELEMENTS*/

li.tab-item {
    font-weight: 600;
}

#vis-1 .panel,
#vis-4 .panel {
    border: 0px;
    border-right: .05rem solid #dadee4;
    height: 100%;
}

#vis-4 .panel-body,
#vis-1 .panel-body {
    max-height: 500px;
}

#vis-1 .panel-body #vis-1-div,
#vis-4 .panel-body #vis-4-div {
    height: 350px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}


/* .barRect {
    color: #ff6361;
    fill: #ff6361;
} */

.stroke-bold {
    stroke: black;
    stroke-width: 1.5;
}

.barName {
    fill: white;
    font-size: 0.6rem;
    font-weight: 500;
    cursor: default;
}

.barValue {
    fill: black;
    font-size: 0.7rem;
    font-weight: 500;
    cursor: default;
}

.text-bold {
    font-weight: 700;
}

#tooltip {
    position: absolute;
    z-index: 1000;
}

#vis-2,
#vis-4 {
    height: 500px;
}

#vis-3 .panel,
#vis-6 .panel {
    border: 0px;
    border-left: .05rem solid #dadee4;
}

a:focus,
button:focus {
    outline: none;
    box-shadow: none;
}


/* Storytelling overlay */

#story-card {
    position: absolute;
    z-index: 1002;
    height: 40%;
    top: 5px;
    left: 5px;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
}

#story-svg-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 3000px;
    height: 3000px;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.3);
}

#story-svg-container svg {
    width: 100%;
    height: 100%;
}


/* Scroll bar styling */

::-webkit-scrollbar {
    background-color: #fff;
    width: 16px
}


/* background of the scrollbar except button or resizer */

::-webkit-scrollbar-track {
    background-color: #fff
}

::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4
}


/* scrollbar itself */

::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 5px solid #fff
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #f4f4f4
}


/* set button(top and bottom of the scrollbar) */

::-webkit-scrollbar-button {
    display: none
}