@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
* {
    /* Specify for all elements */
}


/* ADD THIS CLASS TO USE SERIF FONT */

.font-serif {
    font-family: 'Crimson Text', serif;
}


/* LAYOUT and VIEWS ELEMENTS*/

li.tab-item {
    font-weight: 600;
}

#vis-1 .panel,
#vis-4 .panel {
    border: 0px;
    border-right: .05rem solid #dadee4;
    height: 100%;
}

#vis-4 .panel-body,
#vis-1 .panel-body {
    max-height: 500px;
}

#vis-1 .panel-body #vis-1-div {
    height: 350px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#vis-4 .panel-body #vis-4-div {
    height: 400px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.pie-slice {
    stroke: black;
    stroke-width: 1px;
}

.pie-slice-hover {
    stroke: black;
    stroke-width: 3px;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}


/* .barRect {
    color: #ff6361;
    fill: #ff6361;
} */

.stroke-bold {
    stroke: black;
    stroke-width: 1.5;
}

.barName {
    fill: white;
    font-size: 0.6rem;
    font-weight: 500;
    cursor: default;
}

.barValue {
    fill: black;
    font-size: 0.7rem;
    font-weight: 500;
    cursor: default;
}

.text-bold {
    font-weight: 700;
}

#tooltip,
#tooltipcmpyear,
#tooltipcmpyearfire,
#national-tooltip {
    position: absolute;
    z-index: 1000;
}

#vis-1,
#vis-2,
#vis-4 {
    height: 600px;
}

#vis-8 {
    height: 500px;
}

#vis-3 .panel,
#vis-6 .panel {
    border: 0px;
    border-left: .05rem solid #dadee4;
}

#vis-7 {
    overflow-x: scroll;
}

a:focus,
button:focus {
    outline: none;
    box-shadow: none;
}


/* CSS For National History */

.axis-label {
    font-weight: 500;
}

.numFires,
.numFiresLegendCircle {
    fill: #ef4043;
}

.numFires-hover {
    fill: #be1e2d;
    stroke: #3b4351;
    stroke-width: 1px;
}

.totalAcres,
.totalAcresLegendCircle {
    fill: #72bad5;
}

.totalAcres-hover {
    fill: #0e4c6d;
    stroke: #3b4351;
    stroke-width: 1px;
}

.yearLine {
    stroke: #bcc3ce;
    stroke-width: 0.3px;
}

.yearLine-hover {
    stroke-width: 0.6px;
}

.yearHiddenLine {
    stroke: black;
    stroke-width: 30px;
    stroke-opacity: 0;
}

.yearNumber {
    opacity: 0;
}

.yearNumber-hover {
    font-weight: 600;
    opacity: 1;
}

.trendNumFires {
    stroke: #d62839;
    stroke-width: 2px;
    stroke-dasharray: 5, 5;
}

.trendTotalAcres {
    stroke: #4ba3c3;
    stroke-width: 2.5px;
    stroke-dasharray: 5, 5;
}

.quarter-opacity {
    opacity: 0.25;
}


/* Storytelling overlay */

#story-card {
    position: absolute;
    z-index: 1002;
    height: fit-content;
    border-radius: 12px;
    top: 5px;
    left: 5px;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
}

#story-svg-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 3000px;
    height: 3000px;
    z-index: 1001;
    /* background-color: rgba(0, 0, 0, 0.1); */
}

#story-svg-container svg {
    width: 100%;
    height: 100%;
    z-index: inherit;
}

.highlightRect {
    fill: #66758c;
    fill-opacity: 0.3;
    z-index: inherit;
}

.highlight-vis {
    position: relative;
    z-index: 1002 !important;
}

.highlight-disabled {
    cursor: default;
    /* opacity: .8; */
    pointer-events: none;
}


/* Top 20 Fires */

.fireCircle {
    stroke-width: 1px;
    stroke: #000000;
    fill: lightgray;
}

.period2020 {
    fill: red;
}

.period1990-2019 {
    fill: #FFF500;
}

.period1960-1989 {
    fill: #d253fc;
}

.fireCircle-hover {
    stroke-width: 3px;
}

.fireCircleLine {
    stroke: gray;
    stroke-width: 1px;
}


/* Scroll bar styling */

::-webkit-scrollbar {
    background-color: #fff;
    width: 16px
}


/* background of the scrollbar except button or resizer */

::-webkit-scrollbar-track {
    background-color: #fff
}

::-webkit-scrollbar-track:hover {
    background-color: #f4f4f4
}


/* scrollbar itself */

::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 5px solid #fff
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a5;
    border: 4px solid #f4f4f4
}


/* set button(top and bottom of the scrollbar) */

::-webkit-scrollbar-button {
    display: none
}