@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
* {
    /* Specify for all elements */
}


/* ADD THIS CLASS TO USE SERIF FONT */

.font-serif {
    font-family: 'Crimson Text', serif;
}


/* LAYOUT and VIEWS ELEMENTS*/

li.tab-item {
    font-weight: 600;
}

#vis-1 .panel {
    border: 0px;
    border-right: .05rem solid #dadee4;
}

#vis-3 .panel {
    border: 0px;
    border-left: .05rem solid #dadee4;
}

a:focus,
button:focus {
    outline: none;
    box-shadow: none;
}


/* Visualization CSS */

svg {
    display: block;
    width: 100%;
    height: 100%;
}